* {
    margin: 1rem 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: fit-content;
}

*:has(*) {
    margin: 0;
}

html, body {
    margin: 0;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

h1, h2, h3, h4 {
    font-weight: bold;
    width: 20rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.75rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

ul {
    list-style-position: inside;
    margin: 1rem;
}

section {
    display: flex;
    gap: 1rem
}

button {
    padding: 0.25rem;
    margin: 1rem 0.25rem;
}

a {
    text-underline-offset: 0.1rem;
}

button, a {
    transition: 0.3s ease-in;
}

button:hover, a:hover {
    cursor: pointer;
}

div#root {
    margin: 0;
}